<body>
    <main class="content-wrapper">
    </main>

    <footer>
        <div class="f-info">
            <div class="f-info-socials">
                <a href="#"><i class="fa-brands fa-facebook-f"></i></a>
                <a href="https://www.instagram.com/somsubhra.cjee/"><i class="fa-brands fa-instagram"></i></a>
                <a href="https://www.youtube.com/@somsubhrachatterjee"><i class="fa-brands fa-youtube"></i></a>
                <a href="https://x.com/Somsubhra_0571"><i class="fa-brands fa-x-twitter"></i></a>
                <a href="https://www.linkedin.com/in/somsubhra-chatterjee-793714357/"><i
                        class="fa-brands fa-linkedin-in"></i></a>
            </div>
            <div class="f-info-brand">&copy; 2026 &nbsp; Travax, Inc.</div>
            <div class="f-info-links">
                <a href="/privacy">Privacy</a>
                &nbsp; &nbsp;
                <a href="/terms">Terms</a>
            </div>
        </div>
    </footer>
</body>