<% layout("/layouts/boilerplate") %>

    <div class="row mt-3">
        <div class="alert alert-danger col-6 offset-3" role="alert">
            <p class="alert-heading"> 
                <%= (typeof message !=='undefined' ) ? message : "An unexpected error occurred." %>
            </p>
        </div>
    </div>